<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <title>树洞外链-免费高速外链平台</title> 
  <meta name="renderer" content="webkit" /> 
     <meta name="keywords" content="树洞, 树洞外链, 免费外链, 免费图床, QQ空间背景音乐, QQ空间背景音乐外链, 图片外链">
        <meta name="description" content="树洞, 树洞外链, 免费外链, 免费图床, QQ空间背景音乐, QQ空间背景音乐外链, 图片外链">
  <link href="favicon.ico" rel="shortcut icon" /> 
  <link rel="stylesheet" href="../Public/sdshare/bootstrap/css/bootstrap.css" /> 
  <link rel="stylesheet" href="../Public/sdshare/bootstrap/css/style.css" />
 </head>
 <body onload="danru();" id="sd_index" class="sdin">
   <script type="text/javascript" src="../Public/sdshare/includes/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../Public/sdshare/includes/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="../Public/sdshare/includes/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="../Public/sdshare/includes/js/ui.js"></script>
<script type="text/javascript" src="../Public/sdshare/includes/js/main.js"></script>
<script type="text/javascript" src="../Public/sdshare/includes/js/qiniu.js"></script>
<meta name="description" content="树洞, 树洞外链, 免费外链, 免费图床, QQ空间背景音乐, QQ空间背景音乐外链, 图片外链" />
<meta name="keywords" content="树洞, 树洞外链, 免费外链, 免费图床, QQ空间背景音乐, QQ空间背景音乐外链, 图片外链" /> 
  <script type="text/javascript" src="../Public/sdshare/bootstrap/js/bootstrap.min.js"></script> 
  <script type="text/javascript" src="../Public/sdshare/theme.js"></script> 
  <script type="text/javascript" src="../Public/sdshare/js/plax.min.js"></script> 
  <style>
body {

	background-color: #F0F0F0;
  font-family:"微软雅黑";
}
</style> 
  <!--[if lt IE 9]>
      <script src="js/Respond-1.4.2/respond.min.js"></script>
    <![endif]--> 
      
     
<div class="top-button"align="right" >
      <a  style=""class="btn btn-p-outline" href="views/login.php"><span class="glyphicon glyphicon-user" aria-hidden="true"> 登录/注册</a>

</div>
  <div id="wrapper" class="clearfix"> 

   <div id="parallax_wrapper"> 

    <div id="content"> 
     <div align="center"> 
      <p> </p> 
      <p><br /> </p>
      <div style="height:128px;"> 
       <div align="center" style="display:none;" name="logo" id="logo">
        <img src="../Public/sdshare/images/logo.png" width="366" height="128" />
       </div> 
      </div> 
      <br /> 
      <div align="center">
       <div class="xuxian xiaoguo" id="laru"> 
        <br />
        <br />
        <div id="uu"> 
         <button class="btn btn-primary btn-lg " id="pickfiles"> <i class="glyphicon glyphicon-plus"></i> 
          <sapn>
           选择文件
          </sapn> </button>
        </div> 
        <br /> 
        <div id="shuo">
         <h3 style="font-family: '微软雅黑';">或</h3>
         <h5 style="font-family: '微软雅黑';">将文件拖拽到此</h5> 
        </div>
        <div id="kongge" style="display:none;">
         <br />
        </div> 
        <div id="container">
         <div id="ss"></div>
         <table style="display:none"> 
          <tbody id="fsUploadProgress"> 
          </tbody> 
         </table> 
         <div class="ss"></div> 
         <div id="cuowu1" style="display:none;">
          <br />
          <div id="errinfo" class="alert alert-danger" style="width:450px;" align="center" role="alert"></div>
         </div> 
         <div id="gc"> 
          <div id="su" style="display:none;">
           <br />
           <div id"susu"="" class="alert alert-success" style="width:450px;" align="center" role="alert">
            处理中，请稍后...
           </div>
          </div>
         </div>
         <div id="cuowu" style="display:none;">
          <br />
          <div class="alert alert-danger" style="width:450px;" align="center" role="alert">
           上传失败，请稍后再试或联系站长
          </div>
         </div> 
        </div>
        <br />
        <br /> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>
  </div>  
  <!--parallax--> 
  <span class="scene scene_1"></span> 
  <span class="scene scene_2"></span> 
  <span class="scene scene_3"></span>   
<script type="text/javascript">
var autoname=true;var min="jpg,png,rar,dll,mp3,wav,flv,mp4"; var max=1000; var fp="0"; var upserver ="../upload/SdFileReceive"</script>   
 </body>
</html>