<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>File | Ehounsogno</title>
		<!-- 引用控制层插件样式 -->
		<link rel="stylesheet" href="../Public/upload/control/css/zyUpload.css" type="text/css">
		
		<script type="text/javascript" src="../Public/upload/jquery-1.7.2.js"></script>
		<!-- 引用核心层插件 -->
		<script type="text/javascript" src="../Public/upload/core/zyFile.js"></script>
		<!-- 引用控制层插件 -->
		<script type="text/javascript" src="../Public/upload/control/js/zyUpload.js"></script>
		<!-- 引用初始化JS -->
		<script type="text/javascript" src="../Public/upload/demo.js"></script>
	</head>
	
	<body>
		<h1 style="text-align:center;">File Upload</h1>
	    <div id="demo" class="demo"></div>   
<div style="text-align:center;margin:50px 0;margin-top:80px; font:normal 14px/24px 'MicroSoft YaHei';">
<p>来源：<a href="#">File | Ehounsogno</a></p>
</div>
</body>
</html>







